In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno


df = pd.read_excel('C:/Users/user/Desktop/python financial/DD Limited/Data Trial.xlsx')

In [120]:
df.head()

,CODE,DESCRIPTION,DR/CR,FINANCIAL STATEMENT LINE
0,5000-001,Paid Up Capital,-2000000000,Equity & Reserves
1,5290-001,Cumulative Profit & Loss A/c,-1659538640,Equity & Reserves
2,5590-001,Bonus Reserve,-500000000,Equity & Reserves
3,5690-001,Capital Reserve,-60171905,Equity & Reserves
4,4802-001,Education Tax,-335133,Tax Payable

# Checking Information about the data

In [121]:
print(df.shape)                 # (rows, cols)
print(df.info())                # dtypes, non-null counts

(90, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CODE                      89 non-null     object
 1   DESCRIPTION               90 non-null     object
 2   DR/CR                     90 non-null     int64
 3   FINANCIAL STATEMENT LINE  90 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.9+ KB
None

In [122]:
print(df.describe())            # numeric summary statistics
print(df.isnull().sum())       # missing values per column

              DR/CR
count  9.000000e+01
mean   0.000000e+00
std    3.534428e+09
min   -1.749073e+10
25%   -3.623396e+07
50%    5.082646e+06
75%    3.497993e+07
max    2.535013e+10
CODE                        1
DESCRIPTION                 0
DR/CR                       0
FINANCIAL STATEMENT LINE    0
dtype: int64

### Cleaning data

In [167]:
# Clean the column names by stripping whitespace
df.columns = df.columns.str.strip()

print("=== COLUMN NAMES AFTER CLEANING ===")
for i, col in enumerate(df.columns):
    print(f"Column {i}: '{col}'")

=== COLUMN NAMES AFTER CLEANING ===
Column 0: 'CODE'
Column 1: 'DESCRIPTION'
Column 2: 'DR/CR'
Column 3: 'FINANCIAL STATEMENT LINE'

In [169]:
print("\nDebit column summary:")
print(f"Data type: {df['DR/CR'].dtype}")
print(f"Non-null values: {df['DR/CR'].notna().sum()}")
print(f"Null values: {df['DR/CR'].isna().sum()}")

Debit column summary:
Data type: int64
Non-null values: 90
Null values: 0

In [126]:
# 1. Visualize missingness

#msno.matrix(df)

## Check If the Account is Balance

In [170]:
print(f"Total Credit: {df['DR/CR'].sum()}")

Total Credit: 0

## Revenue

In [182]:
New_Revenue=['Revenue','Other Income']
Account_Revenue = df[df['FINANCIAL STATEMENT LINE'].isin(New_Revenue)].copy()
Total_Revenue=Account_Revenue['DR/CR'].sum()
print(f'Revenue Statement: {Total_Revenue:,.1f}')

Revenue Statement: -8,871,329,004.0

## Expenses

In [184]:
New_Expenses2=['Cost of Sales','Distribution Expenses','Depreciation Charged','Administrative Expenses','Finance Charges']
Account_Expenses2 = df[df['FINANCIAL STATEMENT LINE'].isin(New_Expenses2)].copy()
Total_Expenses=Account_Expenses2['DR/CR'].sum()
print(f'Expenses_statement: {Total_Expenses:,.1f}')

Expenses_statement: 8,663,879,287.0

## Profit and Loss statements

In [185]:
PL = ['Other Gains/Lossess']
PL_Account = df[df['FINANCIAL STATEMENT LINE'].isin( PL)].copy()
PL_Account.head()

,CODE,DESCRIPTION,DR/CR,FINANCIAL STATEMENT LINE
45,6500-002,Exchange Rate (Gain),-72977188,Other Gains/Lossess
46,6500-001,Exchange Rate Loss,13859547,Other Gains/Lossess

In [186]:
PL_statement= PL_Account['DR/CR'].sum()
print(f'Total PL: {PL_statement:,.1f}')

Total PL: -59,117,641.0

In [187]:
# Profit or Loss
profit_or_loss = Total_Revenue - Total_Expenses

print(f"Total Revenue: {Total_Revenue:,.1f}")
print(f"Total Expenses: {Total_Expenses:,.1f}")

print("\n=== PROFIT AND LOSS STATEMENT ===")
print(f"Profit And Loss : {profit_or_loss:,.1f}")

if profit_or_loss > 0:
    print(f"Net Profit: {profit_or_loss:,.1f}")
else:
    print(f"Net Loss: {profit_or_loss:,.1f}")

Total Revenue: -8,871,329,004.0
Total Expenses: 8,663,879,287.0

=== PROFIT AND LOSS STATEMENT ===
Profit And Loss : -17,535,208,291.0
Net Loss: -17,535,208,291.0

In [190]:

Gain_ex=['Exchange Rate (Gain)','Exchange Rate Loss']
Gain=df[df['DESCRIPTION'].isin(Gain_ex)].copy()
Gain_statement=Gain['DR/CR'].sum()
print(f'Gain_statemen: {Gain_statement:,.1f}')
Expenses_statement2=Gain_statement + Total_Expenses
print(f'Expenses_statement: {Expenses_statement2:,.1f}')

Gain_statemen: 13,859,547.0
Expenses_statement: 8,677,738,834.0

## Net Profit

In [191]:
Net_Profit=Total_Revenue-Total_Expenses
print(f'Net_Profit: {Net_Profit:,.1f}')

Net_Profit: -17,535,208,291.0

## Add depreciation

In [143]:
Dep=['Depreciation Expenses']
Account_Dep = df[df['DESCRIPTION'].isin(Dep)].copy()
Depreciation_statement=Account_Dep['DR/CR'].sum()

print(f'depreciation: {Depreciation_statement:,.1f}')

depreciation: 89,944,080.0

## Donations

In [144]:
Don=['Corporate and Sallah Gift','Donations','Entertainment','Zakkat']
Account_Don= df[df['DESCRIPTION'].isin(Don)].copy()
Donations_statement=Account_Don['DR/CR'].sum()
print(f'Donations_statement: {Donations_statement:,.1f}')

Donations_statement: 67,684,778.0

### PPE

In [159]:
Ann=['Tools','Plant & Machinery','Office Partitioning','Motor Vehicles','Fittings & Equipment','Building','Land ']
Account_Ann= df[df['DESCRIPTION'].isin(Ann)].copy()
Annual_All=Account_Ann['DR/CR'].sum()
print(f'PPE: {Annual_All:,.1f}')

PPE: 1,555,304,524.0

In [192]:
Initial_Allowance=Annual_All/ 2
Allowance = round(Initial_Allowance, 1) 
print(f'Initial Allowance: {Allowance:,.1f}')

Initial Allowance: 777,652,262.0

## Annual Allowance

In [162]:
Annual_Allowance3=Annual_All-Allowance / 4
print(f'Annual Allowance: {Annual_Allowance3:,.1f}')

Annual Allowance: 1,360,891,458.5

## Adjusted/Assesable Profit

In [ ]:
Adjusted_Assesable_Profit= Net_Profit - Depreciation_statement - Donations_statement
print(f'Adjusted_Assesable_Profit: {Adjusted_Assesable_Profit:,.1f}')

Adjusted_Assesable_Profit: -17,692,837,149.0

## Profit

In [164]:
Profit=Adjusted_Assesable_Profit + Annual_Allowance3
print(f"profit: {Profit:,.1f}")

profit: -16,331,945,690.5

## Tax

In [166]:
Tax=Profit * 0.30
print(f'Tax: {Tax:,.1f}')

Tax: -4,899,583,707.1